.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type='range'] {
  width: 300px;
}

input[type='text'] {
  margin-top: 10px;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4fa3c3;
}

.picker-container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  margin-right: 20px; /* Adjust as needed */
}

/* App.css */
.navbar {
  background-color: #22c3d8;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}

